:root {
  --tertiary-color: rgb(209 213 219);
  --border-white-color: rgb(255 255 255);
  --background-main: rgb(0 128 128);
  --button-border-color: rgb(156 163 175);
  --border-gray: rgb(107 114 128);
  --green: rgb(22 163 74);
  --blue: navy;
}
@font-face {
  font-family: "px_sans_nouveaux";
  src: url("../assets/px_sans_nouveaux.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  padding: 0px;
  margin: 0px;
  font-family: "px_sans_nouveaux";
}
img {
  height: 100%;
}
